.app.default {
    --bg-color: #f0ecec;
    --font-color: #131416e7;
    --inverted-bg-color: #131416e7;
    --primary-color: #08b4f4;
    --secondary-color: #141516;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #ffffffa2;
}
