.body {
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: -1px -1px 23px -2px rgb(186 186 186 / 75%);
    -webkit-box-shadow: -1px -1px 23px -2px rgb(186 186 186 / 75%);
    -moz-box-shadow: -1px -1px 23px -2px rgb(186 186 186 / 75%);
    width: 80%;
    aspect-ratio: 2 / 1;
    overflow: hidden;
}
